<<<<<<< HEAD
=======
footer {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #445162;
  color: #ffffff;
  text-align: center;
}

footer .section-headers {
  color: #ffffff;
  padding-top: 15px;
}

footer .contact-box {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .contact-box .feedback-form {
  text-align: center;
}

.feedback-form input {
  margin: 10px auto;
  border-radius: 5px;
  min-width: 426.66667px;
  height: 25px;
}

.feedback-form button {
  border-radius: 7px;
  background-color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.feedback-form .message {
  height: 10em;
  vertical-align: top;
}

.contacts li {
  list-style-type: none;
  text-align: left;
  vertical-align: middle;
  margin-bottom: 10px;
}

.contacts i {
  font-size: 20px;
  margin-right: 5px;
}

.contacts .social-list {
  margin-top: 35px;
}

.contacts .social-item {
  margin-right: 10px;
}

.contacts .social-item i {
  font-size: 30px;
}

>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
.container {
  max-width: 1280px;
  min-width: 640px;
  margin: 0 auto;
}

<<<<<<< HEAD
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #445162;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
=======
.bflex,
footer .contact-box,
.contacts .social-list,
header,
.about,
.pluses-list,
.screen-list,
.reviews-list,
.buy-it-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fonts,
.feedback-form button,
header,
.pluses,
.pluses-strings,
.reviews,
.buy-it-now {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #445162;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
  list-style-type: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

<<<<<<< HEAD
.main-name {
=======
header .main-name {
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 400;
  padding: 30px;
  padding-left: 0;
}

.about {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
=======
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
  padding: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
<<<<<<< HEAD
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
=======
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
}

.about-text {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 512px;
}

.about-details {
  padding-bottom: 15px;
}

.about-name {
  font-size: 30px;
  color: #445161;
  font-size: 30px;
  padding-bottom: 50px;
}

.pluses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  background-color: #f5f5f5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-headers {
  font-size: 30px;
  line-height: 23px;
  font-weight: 400;
  color: #445161;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.pluses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 24px;
  color: #333333;
  list-style-type: none;
}

.pluses-strings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
<<<<<<< HEAD
  font-family: "ArialMT", sans-serif;
=======
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 540px;
}

.fas {
  font-size: 32px;
  margin-right: 9px;
}

.screenshots h2,
.reviews h2 {
  text-align: center;
}

.screen-list,
.reviews-list {
<<<<<<< HEAD
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
=======
  list-style-type: none;
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.screen-figure,
.reviews-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px;
}

<<<<<<< HEAD
img.screen-img,
reviews-img {
=======
li.screen-string {
  max-width: 609.52381px;
}

img.screen-img,
.reviews-img {
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
  padding-right: 15px;
  height: 150px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.reviews {
  background-color: #f5f5f5;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.reviews .reviews-product {
  max-width: 540px;
}

.reviews-img {
  max-height: 75px;
}

.reviews .reviews-product {
  max-width: 540px;
}

.review-text {
  background-color: #ebebeb;
  font-style: italic;
}

<<<<<<< HEAD
.reviews {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

=======
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
.user-name {
  font-style: normal;
  color: #989898;
  padding: 10px 5px;
}
<<<<<<< HEAD
=======

.buy-it-now {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 426.66667px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.buy-it-now .buy-it-now-plan {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  background: #445162;
  color: #ffffff;
  border-radius: 10px;
}

.buy-it-now .buy-it-now-plan .plan-name {
  margin: 5%;
}

.buy-it-now .buy-it-now-plan .plan-strings {
  text-align: start;
  margin-right: 15px;
  margin-bottom: 5%;
}

.buy-it-now .buy-it-now-plan .plan-price {
  background: #ffffff;
  color: #445162;
  font-size: 35px;
  padding: 5%;
  border: 2px solid #445162;
}

.buy-it-now .buy-it-now-plan form {
  margin: 20px 1.5% 20px;
}

.buy-it-now .buy-it-now-plan form button {
  border: none;
  width: 80%;
  text-transform: uppercase;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  font-weight: bold;
}
>>>>>>> 7f551eec83e6176b8b03f7efe5717e3ee4dbf3b7
/*# sourceMappingURL=style.css.map */
