.container {
  max-width: 1280px;
  min-width: 640px;
  margin: 0 auto;
}

.bflex,
header,
.about,
.pluses-list,
.screen-list,
.reviews-list,
.buy-it-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fonts,
header,
.pluses,
.pluses-strings,
.reviews {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #445162;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
  list-style-type: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

header .main-name {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 400;
  padding: 30px;
  padding-left: 0;
}

.about {
  padding: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-text {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 512px;
}

.about-details {
  padding-bottom: 15px;
}

.about-name {
  font-size: 30px;
  color: #445161;
  font-size: 30px;
  padding-bottom: 50px;
}

.pluses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  background-color: #f5f5f5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-headers {
  font-size: 30px;
  line-height: 23px;
  font-weight: 400;
  color: #445161;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.pluses-list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 24px;
  color: #333333;
  list-style-type: none;
}

.pluses-strings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 540px;
}

.fas {
  font-size: 32px;
  margin-right: 9px;
}

.screenshots h2,
.reviews h2 {
  text-align: center;
}

.screen-list,
.reviews-list {
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.screen-figure,
.reviews-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li.screen-string {
  max-width: 640px;
}

img.screen-img,
.reviews-img {
  padding-right: 15px;
  height: 150px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.reviews {
  background-color: #f5f5f5;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.reviews .reviews-product {
  max-width: 540px;
}

.reviews-img {
  max-height: 75px;
}

.review-text {
  background-color: #ebebeb;
  font-style: italic;
}

.user-name {
  font-style: normal;
  color: #989898;
  padding: 10px 5px;
}

.buy-it-now {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 426.66667px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.buy-it-now .buy-it-now-plan {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 45px;
  background: #445162;
  color: #ffffff;
  border-radius: 10px;
}

.buy-it-now .buy-it-now-plan .plan-strings {
  text-align: start;
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */
